.home-main{
    background-image: initial;
    background-color: rgb(50, 55, 58)
}
.h-t{
      color: rgb(67, 213, 175);
      margin: 4px 0;

}
.hire-btn{
    outline: none;
    border: none;
    background-color: rgb(67, 213, 175);
    box-shadow: rgb(66 72 76 / 25%) 0px 1.6rem 1.6rem;
    color: rgb(64, 70, 72);
    padding: 12px 50px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
    text-decoration: none;
    display: inline-block;
}
.second-home{
    background-color: rgb(55, 60, 62) !important;
}
.intro{
   color: rgb(67, 213, 175); 
}
.cards{
    background: #2b2b2b;
    padding: 18px 30px;
    border-radius: 16px;
    box-shadow: rgb(23 25 26 / 25%) 0px 1.6rem 2.4rem;
    transition: .4s;
}
.cards-title{
    color: white;
    margin: 16px 0;

}
.cards-text{
    color: white;
    font-size: 20px;

}
.cards:hover{
    background: #3d3535;
        
}
.fabs{
    color: rgb(67, 213, 175);
font-size: 40px;
}
.footer-main{
    padding: 16px 0;
    background-color: #17191a;;
}
.mains{
    font-size: 60px;
    font-weight: 700;
}
.intros{
color:  #0fb;

}